<div id="main-area">
  <div id="keyboard">
    <div class="key" data-note="G5">G5</div>
    <div class="key" data-note="F5">F5</div>
    <div class="key" data-note="E5">E5</div>
    <div class="key" data-note="D5">D5</div>
    <div class="key" data-note="C5">C5</div>
    <div class="key" data-note="B4">B4</div>
    <div class="key" data-note="A4">A4</div>
    <div class="key" data-note="G4">G4</div>
    <div class="key" data-note="F4">F4</div>
    <div class="key" data-note="E4">E4</div>
    <div class="key" data-note="D4">D4</div>
    <div class="key" data-note="C4">C4</div>
    <div class="key" data-note="B3">B3</div>
    <div class="key" data-note="A3">A3</div>
    <div class="key" data-note="G3">G3</div>
    <div class="key" data-note="F3">F3</div>
    <div class="key" data-note="E3">E3</div>
    <div class="key" data-note="D3">D3</div>
    <div class="key" data-note="C3">C3</div>
    <div class="key" data-note="B2">B2</div>
    <div class="key" data-note="A2">A2</div>
    <div class="key" data-note="G2">G2</div>
    <div class="key" data-note="F2">F2</div>
    <div class="key" data-note="E2">E2</div>
  </div>
  <div id="note-board">
    <div class="note-row space-row" id="G5"></div>
    <div class="note-row line-row"  id="F5"></div>
    <div class="note-row space-row" id="E5"></div>
    <div class="note-row line-row"  id="D5"></div>
    <div class="note-row space-row" id="C5"></div>
    <div class="note-row line-row"  id="B4"></div>
    <div class="note-row space-row" id="A4"></div>
    <div class="note-row line-row"  id="G4"></div>
    <div class="note-row space-row" id="F4"></div>
    <div class="note-row line-row"  id="E4"></div>
    <div class="note-row space-row" id="D4"></div>
    <div class="note-row space-row" id="C4"></div>
    <div class="note-row space-row" id="B3"></div>
    <div class="note-row line-row"  id="A3"></div>
    <div class="note-row space-row" id="G3"></div>
    <div class="note-row line-row"  id="F3"></div>
    <div class="note-row space-row" id="E3"></div>
    <div class="note-row line-row"  id="D3"></div>
    <div class="note-row space-row" id="C3"></div>
    <div class="note-row line-row"  id="B2"></div>
    <div class="note-row space-row" id="A2"></div>
    <div class="note-row line-row"  id="G2"></div>
    <div class="note-row space-row" id="F2"></div>
    <div class="note-row space-row" id="E2"></div>
    <div id="tracker"></div>
  </div>
  <div class="clear"></div>
</div>