<div id="note-board">
  <div class="note-row space-row" id="G5"></div>
  <div class="note-row line-row"  id="F5"></div>
  <div class="note-row space-row" id="E5"></div>
  <div class="note-row line-row"  id="D5"></div>
  <div class="note-row space-row" id="C5"></div>
  <div class="note-row line-row"  id="B4"></div>
  <div class="note-row space-row" id="A4"></div>
  <div class="note-row line-row"  id="G4"></div>
  <div class="note-row space-row" id="F4"></div>
  <div class="note-row line-row"  id="E4"></div>
  <div class="note-row space-row" id="D4"></div>
  <div class="note-row space-row" id="C4"></div>
  <div class="note-row space-row" id="B3"></div>
  <div class="note-row line-row"  id="A3"></div>
  <div class="note-row space-row" id="G3"></div>
  <div class="note-row line-row"  id="F3"></div>
  <div class="note-row space-row" id="E3"></div>
  <div class="note-row line-row"  id="D3"></div>
  <div class="note-row space-row" id="C3"></div>
  <div class="note-row line-row"  id="B2"></div>
  <div class="note-row space-row" id="A2"></div>
  <div class="note-row line-row"  id="G2"></div>
  <div class="note-row space-row" id="F2"></div>
  <div id="tracker"></div>
</div>