<div id="toolbar">
  <button class="click-option option-selected" id="add-notes" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="With this option selected, click anywhere on the staff below to place a note. Click the keyboard at left to preview each note."><i class="fa fa-music"></i></button>
  <button class="click-option" id="delete-notes" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Choose this option to enable deleting by clicking on individual notes. You can also enable deletion by holding the Delete key."><i class="fa fa-trash"></i></button>
  <button class="click-option" id="sharp-notes" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Enable this option to change placed notes to Sharps. Click again to disable. You can also enable Sharps by holding the Shift key."><i class="fa fa-hashtag"></i></button>
  <button class="click-option" id="grid-lines" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Click to add vertical lines to the staff rows."><i class="fa fa-th"></i></button>
  <button id="play-button"><i class="fa fa-play"></i>
  <button id="stop-button"><i class="fa fa-stop"></i>
  <button class="click-option" id="tracker-button" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Click this button, then click on the staff below to move the starting point of the music."><i class="fa fa-arrows-h"></i></button>
</div>