<% provide(:title, "Create") %>
<% unless logged_in? %>
  <p>You must be logged in to save music. Please <%= link_to "Log In", login_path %> or <%= link_to "Sign Up", signup_path %>.</p>
<% end %>

<div id="create-song">
  <div id="note-board">
    <div class="space-row"></div>
    <div class="line-row"></div>
    <div class="space-row"></div>
    <div class="line-row"></div>
    <div class="space-row"></div>
    <div class="line-row"></div>
    <div class="space-row"></div>
    <div class="line-row"></div>
    <div class="space-row"></div>
    <div class="line-row"></div>
    <div class="space-row"></div>
    <div class="space-row"></div>
    <div class="space-row"></div>
    <div class="line-row"></div>
    <div class="space-row"></div>
    <div class="line-row"></div>
    <div class="space-row"></div>
    <div class="line-row"></div>
    <div class="space-row"></div>
    <div class="line-row"></div>
    <div class="space-row"></div>
    <div class="line-row"></div>
    <div class="space-row"></div>
  </div>
</div>

<div class="lines">
</div>