<% provide(:title, "Create") %>
<% if logged_in? %>
  <input id="creation-name" class="form-control" name="name" type="text" placeholder="Title">
  <button id="save-creation" class="btn btn-primary">Save</button>
<% else %>
  <p>You must be logged in to save music. Please <%= link_to "Log In", login_path %> or <%= link_to "Sign Up", signup_path %>.</p>
<% end %>

<div id="create-song">
  <%= render "toolbar" %>
  <%= render "note_board" %>
</div>
