<% provide(:title, "Home") %>
<div class="center jumbotron">
  <p>MusicBox is a solution to facilitate the composition of music for both professionals and novices alike.</p>
  <p>Check out awesome songs from users below!</p>
</div>
