// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tooltip-icon {
  transition: color 0.5s ease;
  color: grey;
}

.tooltip-icon:hover {
  transition: color 0.5s ease;
  color: black;
}